* {
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.container {
  padding: 10px;
  max-width: fit-content;
  margin: 50px auto;
}

.btn {
  border: none;
  padding: 7px 15px;
  font-size: 18px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn-add {
  background: #194064;
  color: white;
}

.addContainer {
  position: absolute;
  background-color: Orgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addContainer form {
  width: 420px;
  background-color: Ored;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
  background-color: aliceblue;
  border-radius: 5px;
}

.addContainer form label {
  font-size: 18px;
}

.addContainer form input {
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.addContainer form button {
  background-color: royalblue;
  color: white;
  font-weight: 500;
  margin-top: 2px;
}

.addContainer form .close-btn {
  margin-left: auto;
  font-size: 18px;
  background-color: #000;
  display: flex;
  width: 80px;
  color: #fcfeff;
  justify-content: center;
  border-radius: 8px;
  align-items: center;
  border: 1px solid #000;
  cursor: pointer;
}

.tableContainer {
  margin-top: 50px;
  box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.2);
  text-align: center;
  align-items: center;}

.tableContainer table thead tr {
  background-color: #fcfeff;
  
}

.tableContainer table thead tr th,
.tableContainer table tbody tr td {
  min-width: 200px;
  padding: 7px;
}
.btn-edit{
  background-color: blueviolet;
}
.btn-danger{
  background-color: crimson;
}
